In [1]:
import string
import pandas as pd
import numpy as np
import re

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('Language Detection.csv')
df.head()

                                                Text Language
0   Nature, in the broadest sense, is the natural...  English
1  "Nature" can refer to the phenomena of the phy...  English
2  The study of nature is a large, if not the onl...  English
3  Although humans are part of nature, human acti...  English
4  [1] The word nature is borrowed from the Old F...  English

In [3]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [12]:
def remov(text):
    for pun in string.punctuation:
        text = text.replace(pun,"")
    text = text.lower()
    return(text)

In [16]:
df['Text']=df['Text'].apply(remov)

In [17]:

df.head()

                                                Text Language
0   nature in the broadest sense is the natural p...  English
1  nature can refer to the phenomena of the physi...  English
2  the study of nature is a large if not the only...  English
3  although humans are part of nature human activ...  English
4  1 the word nature is borrowed from the old fre...  English

In [19]:
from sklearn.model_selection import train_test_split

In [22]:
X= df.iloc[:,0]
Y = df.iloc[:,1]

In [45]:
X_train,X_test,Y_train,Y_test= train_test_split(X,Y,test_size=0.2)

In [46]:
from sklearn import feature_extraction

In [47]:
vec= feature_extraction.text.TfidfVectorizer(ngram_range=(1,2),analyzer='char')

In [48]:
from sklearn import linear_model
from sklearn import pipeline

In [49]:
model=pipeline.Pipeline([('vec',vec),('clf',linear_model.LogisticRegression())])

In [50]:
model.fit(X_train,Y_train)

Pipeline(steps=[('vec', TfidfVectorizer(analyzer='char', ngram_range=(1, 2))),
                ('clf', LogisticRegression())])

In [51]:
predict_val = model.predict(X_test)

In [52]:
from sklearn import metrics

In [54]:
metrics.accuracy_score(Y_test,predict_val)*100

97.24371373307544

In [56]:
model.predict(['the study of nature is a large if not the only.'])

array(['English'], dtype=object)

In [59]:
import pickle

In [61]:
new_file = open('model.pckl','wb')
pickle.dump(model,new_file)
new_file.close()